.wrapper {
  position: relative;
  padding: 20px 0;
  background-color: #fff;
  z-index: 1;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: #99f63d;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 1s ease-out;
  }

  &.animate::before {
    transform: translateX(0);
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    img {
      width: 100%;
    }
  }

  h1 {
    font-family: Manrope;
    font-weight: 600;
    font-size: 32px;
    padding: 2rem 0;
    line-height: 100%;
    text-align: start;
    color: black;
  }

  .content {
    width: 60%;

    p {
      font-family: Manrope;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #696969;
    }
  }

  @media (max-width: 768px) {
    .inner {
      flex-direction: column;
      align-items: flex-start;
    }
    h1 {
      font-size: 26px;
      text-align: center !important;
    }
    .content {
      width: 100% !important;

      p {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 22px;
      text-align: center !important;
      padding-bottom: 1rem;
    }
    .content {
      width: 100%;

      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
    img {
      display: none;
    }
  }
}
